* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #003249;
    width: 600px;
    padding: 30px 60px;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

ul li {
    list-style: none;
    position: relative;
    padding: 30px 0;
    border-bottom: 9px solid rgb(0, 7, 31);
}

ul li:last-child {
    border: none;
}

ul li label {
    font-size: 54px;
    color: white;
    padding-left: 90px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

ul li label span.check {
    position: absolute;
    top: 30px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: black;
    display: inline-block;
    border-radius: 12px;
}

ul li label span.check::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    background: black;
    border-radius: 6px;
    transition: 0.3s;
    transform: translateX(539px);
    z-index: 1;
}

ul li label input {
    display: none;
}

ul li label input:checked ~ span.check::before {
    transform: translateX(0);
    background: #00ff00;
    box-shadow: 0 0 20px #00ff00;
}